html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #434455;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 156px;
}

.header-menu {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 24px 0;
    background: #fff;
    top: 0;
    z-index: 100;
}

.header-menu__inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo span {
    color: #2E2F42;
}

.menu-links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: 261px;
    display: flex;
    justify-content: space-between;
}

.links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    width: 344px;
    display: flex;
    justify-content: space-between;
}


.header {
    background: #2E2F42;
    height: 675px;
    margin: auto;
    text-align: center;
    padding: 192px 0 0 0;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 500px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.button-header {
    padding: 16px 28px;
    width: 170px;
    height: 51px;
    background: #4D5AE5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 24px 0 0 0;
}

.skills {
    padding: 0 0 120px 0;
}

.our-skills {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 264px;
}

.box h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.descripton {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 0 0 72px 0;
}

.what-are-we-doing {
    padding: 0 0 120px 0;
}

.we-doing {
    display: flex;
    justify-content: space-between;
}

.our-team {
    padding: 120px 0 120px 0;
    background: #F4F4FD;
}

.teams {
    display: flex;
    justify-content: space-between;
}

.teams li {
    background: #FFFFFF;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.teams li img {
    width: 264px;
    height: 260px;
}

.teams li h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 32px 0 8px 0;
}


.teams li p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0 0 32px 0;
}

footer {
    background: #2E2F42;
    height: 310px;
    padding: 100px 0 100px 0;
}

.footer a span {
    color: #F4F4FD;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
}

/* portfolio*/

.buttons {
    display: flex;
    justify-content: space-between;
    width: 586px;
    margin: 168px auto 48px auto;
}

.buttons button {
    padding: 8px 16px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
}

.buttons button:hover {
    background: #4D5AE5;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    border: 1px solid #4D5AE5;
}

ul.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects li {
    width: 360px;
    height: 420px;
    margin: 24px 0;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
}

.projects li img {
    width: 360px;
    height: 300px;
}

.projects li h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0 0 8px 0;
}

.projects li p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;
    margin: 0;
}

.projects div {
    margin: 32px 0 32px 16px;
}

.project-content {
    width: 360px;
    height: 300px;
    background: #4D5AE5;
    position: relative;
    margin: 0 !important;
}

.project-content span {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    top: 40px;
    left: 32px;
    right: 32px;
}